body {
  background: rgb(255, 255, 255);
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 112%;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
}
 
/* the selectable tab labels */
.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background:  orange;
  font-weight: bold;
  transition: background ease 0.2s;
  box-shadow: 10px 5px 5px grey;
}
 
/* main box */
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: rgb(195, 0, 255);
  box-shadow: 10px 5px 5px grey;
}
 
.tabs input[type="radio"] {
  display: none;
}
 
.tabs input[type="radio"]:checked + label {
  background: rgb(195, 0, 255);
}
 
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

/* adjust CSS styling depending on device screen size */
@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
 
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

 /* Anchor tags turn red when you hover the cursor over them */
a:hover {
  color: red;
}

 /* Any text which needs to be centred on the page. 
 It is better practice to use this CSS class than use 
 a center tag in the HTML document */
.center {
  text-align: center;
}

.right {
  float: right;
  right: 0px;
  height: 0px;
  position: relative;
}

 /* Styling of the darkMode button at the top of the page*/
.darkModeButton {
  background: black;
  color: white;
  border: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px; /* rounded corners */
  position: absolute;
  right: 0px;
  top: 0;
  box-shadow: 10px 5px 5px grey;
}

/* when you hover over the darkMode button, colors change*/
.darkModeButton:hover {
  background-color: white;
  color: black;
  box-shadow: 10px 5px 5px red;
  transform: scale(1.1);
}

 /* When you hit the darkMode button, 
 the following styles are applied to the html document */
.dark-mode {
  background-color: black;
  color: rgb(75, 75, 75);
}

.website_counter{
  position:absolute;
  align: center;
  /* right: -10px; */
  bottom: 0;
}

 /* Styling of the question button at the bottom of the page */
.questionButton {
  background: purple;
  color: white;
  position:absolute;
  right: -10px;
  bottom: 0;
  border-radius: 5px; /* rounded corners */
  border: 2px solid rgb(195, 0, 255);
  box-shadow: 10px 5px 5px grey;
}

/* when you hover over the question button, colors change*/
.questionButton:hover {
  background-color: white;
  color: purple;
  box-shadow: 10px 5px 5px red;
  transform: scale(1.1);
}

 /* Styling for the giant "42" text 
 which is displayed below the questionButton after it is clicked */
.answer {
  font-weight: bold;
  font-size: 1000%;
  position:absolute;
  right: -10px;
  bottom:-400px;
}